body{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3em;
    text-align: center;


    font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #13265C;

    background-color: #13265C;
}


h1{
    font-weight: 600;
    font-style: bold;
}

h2{
    font-style: italic;
}

header, a{
    background-color: lavender;
    padding: 2em;
    border-radius: 20px;
}

a:hover{
    border:lavender;
    color:lavender;
    background-color:#13265C;
}

a:active{
    border:#9575CD;
    color:#9575CD;
    background-color:#13265C;
}
