/* base */

body{
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0px;
    min-height: 100%;
    overflow: hidden;
}

main{
    background-color:#890001;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

section{
    position: absolute;
    display: flex;
    flex-direction: row;
    color: #085812;

    margin:auto;
    width: 100%;
    height: 100vh;
    top: 100vh;

    transition: all 0.6s ease;
}
    
#start, #end{
    flex-direction: column;
}

#lazySusanContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 0;
}

#lazySusan{
    transform: translate(-50%, 0%) rotate(0deg);
    position: absolute;
    bottom: 40%;
    left: 50%;

    transition: transform 0.8s ease-in-out;
}


/* transitions */

.showing{
    display: flex;
    visibility: visible;
    top: 0;
}

.hidden{
    display: none;
    position: absolute;
    top: 100vh;
}

.moveUp {
    top: -100vh;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 9999;
}

/* buttons */

button{
    font-family: "Pacifico", cursive;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    border: transparent;
    background: #890001;
    color: #E2EDF8;
    
    display: block;
    padding: 1em;
    width: 50vh;
    margin: 0 auto;

    border: 5px solid transparent;
    box-sizing: border-box;

}

button:hover{
    border: 5px solid #890001;
    background-color: transparent;
    color:#890001;
}

button:active{
    background-color:#89000180;
}

#next1, #next2, #next3{
    display: block;
    padding: 1em;
    width: fit-content;
    align-items: center;

    border-radius: 40px;
    background: #085812;
    border: 3px solid transparent;
    box-sizing: border-box;

    font-weight: bold;
    color: #E2EDF8;
}

#next1:hover, #next2:hover, #next3:hover{
    border: 3px solid #085812;
    background-color: #E2EDF8;
    color:#085812;
}

#next1:active, #next2:active, #next3:active{
    background-color: #08581280;
}

#end button{
    font-size: 16px;
    padding: 1em;
    width: 150px;

    position:relative;
    bottom: -10%;
}

/* start */

#start{
    background-image: url(images/plasticBag.jpg);
    background-size: cover;
    background-attachment: fixed;

    color: #890001;
    
    text-transform: uppercase;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 900;
    line-height: 150%;

    margin: auto;
    justify-content: center;
   
}

header h1{
    margin: 0;
}

header h2{
    color: transparent;
    -webkit-text-stroke-width: 9px;
    -webkit-text-stroke-color: #890001;
    margin: 0;
    padding: 0.1em;
    font-size: 140px;
}

header p{
    font-size: 16px;
    text-transform: lowercase;
    line-height: 1em;
    padding: 1em;
    font-weight: 200px;
}

/* section */

#appetizer img, #mainCourse img, #dessert img{
    z-index: 2;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 30%;
    top: 50%;

    display: flex;
    max-width: 550px;
}

/* order form */

.orderForm{
    width: 400px;
    height: fit-content;

    position: absolute;
    right: 15%;
    margin-top: 6em;
    padding: 2em;

    background-image: url(images/paper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 60px 1px #564731;
    
    text-transform: uppercase;
}

.firstDiv{
    grid-column: 1 / -1;
}

.label, .input, .firstDiv{
    border: 2px solid #085812;
    padding: 0.8em;
    height: 40px;
    font-weight: 600;
}

.final{
    min-height: 4em;
    height: auto;
}

.thanks{
    font-family: "Pacifico", cursive;
    font-size: 25px;
    text-align: center;
    justify-content: center;

    font-weight: 300;
    line-height: 1.3em;
    text-transform: capitalize;
}

.thanks p{
    margin: 0;
}

form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 5px solid #085812;
}

input{
    border-radius: 5px;
    border: none;
    background: #E2EDF8;
    padding: 1em;
    color: #331C00;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bold;

}

input:focus {
    background: #FFC464;
    border: 3px solid #085812;
}


/* end */

#end{
    background-image: url(images/bathroom.jpg);
    background-size: cover;
    background-attachment: fixed;

    position:relative;
}

#receipt{

    position: absolute;
    right: 20%;
    top: 10%;
    z-index: 2;

    background-color: #E2EDF8;
    background-image: url(images/receipt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding: 3em;
    width: 300px;
    height: 500px;

    color: #331C00;
    font-weight: 500;
    box-shadow: 0 0 60px 1px #564731;
}

#end img{
    position: absolute;
    z-index: 1;
    right: 0%;
    bottom: 5%;
}

span{
    font-family: "Pacifico", cursive;
    color: #890001;
}
