div{
    display: flex;
    flex-direction: column;
    gap: 4em;

    position: absolute;
    right: 20%;
}

body{
    display: flex;
    padding: 2em;

    font-family: "Roboto Mono", monospace;
    font-size: 0.8em;
    font-style: normal;

    /* background-image: url("images/redwood.jpeg");
    background-attachment: fixed; */
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    flex: 0.4;
    position: fixed;
}


article{
    max-width: 600px;
    margin: auto;
    line-height: 1.4em;
    font-size: 1.2em;
    flex: 1;

    padding: 3em;
    background-color: rgb(255, 255, 215);
    border: 5px solid black;
    border-radius: 20px;
}

h2, h3, time{
    
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px black;
    width: fit-content;
    display: block;
    padding: 0.4em;
}

h1{
    font-weight: bold;
    /* color: white; */
}

h2{
    background-color: rgb(255, 215, 250);
}

h3{
    background-color: rgb(179, 232, 255);
}

time{
    background-color: rgb(179, 255, 206);
}
